<link rel="stylesheet"
href="https://cdn.jsdelivr.net/gh/pandane009/pandaLABO@main/kurobara02.css">

<div class="test-box" style="
background:#09090d;
padding:30px 18px;
text-align:center;
">

<div style="
font-family:'KurobaraTest',sans-serif;
font-size:42px;
letter-spacing:7px;
color:#b967ff;
">
梁 晏修
</div>

<div style="
font-family:sans-serif;
font-size:42px;
letter-spacing:7px;
color:#777;
margin-top:25px;
">
梁 晏修
</div>

</div>
